astropy
autodidaqt
autodidaqt_common
cbitstruct
cffi
colorama
importlib_metadata
loguru
modbus_tk
numba
numpy
pandas
pymodbus
PyQt5
PyQt5_sip
pyqtgraph
PyVISA
rpyc
scapy
scipy
setuptools
ThorlabsPM100
toml
xarray
